body {
  font-family: Georgia,Palatino,Times,"Times New Roman",serif;
  font-size: 9pt;
  background: #E3E3E3;
  text-align: center;
}

#narrow {
  width: 50em;
  margin: 0px auto;
  text-align: left;
}

#main {
  background: #FFFFFF repeat-y right
    url(http://clojure.org/space/showimage/content-background.gif);
}

p {
  padding-left: 10em;
  padding-right: 13em;
  margin: 1ex 0;
}

a {
  float: left;
  margin-left: -10em;
}

b {
  float: left;
  margin-left: -6.8em;
  width: 6.3em;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}

dl {
  margin: 0 1em;
  margin-top: -1em;
  background: #E4EAF7 url(http://clojure.org/space/showimage/resources-background.gif) repeat-y scroll 0% 0%;
  border-top: 1px solid #ABC4E2;
  border-bottom: 1px solid #ABC4E2;
  float: right;
  padding: 5px 0pt;
  width: 234px;
}

dd { margin: 0; }
dd a { padding: 0 1em; }
em { font-style: normal; font-weight: bold; }
a { color: #aaa; visibility: hidden; }
p:hover a { visibility: visible; }
a:target, a.nh { color: #000; visibility: visible; }
p.bdfl b { color: #c00; }

a.nm, dd a, .nav a, a.i {
  color: #00f;
  visibility: visible;
  float: none;
  margin-left: 0;
}

a.i { text-decoration: none; }

div.i {
  float: right;
  width: 3em;
  font-size: 150%;
}

a.nm:visited, dd a:visited, .nav a { color: purple; }
.nav, .foot { text-align: center; font-style: italic; }
.nav a { padding: 0 1em; }

/* opera compatibility for <wbr> */
wbr:after { content: "\00200B" }

dt { margin: 0 0 1em 1em; }
#q { width: 19em; }
#sa { padding: 0; }
#q, #sa { font-size: 80%; }

/* iPhone */
@media screen and (max-width: 480px)
{
  h1 { font-size: 12pt; }
  body { margin: 8px 0; }
  dl { display: none; }
  p { padding-right: 0; word-wrap: break-word; }
  #narrow { width: 480px; }
  #main { background-image: none; }
  div.i { width: auto; }
}

/* iPhone portrait */
@media screen and (max-width: 320px)
{
  #narrow { width: 320px; }
}
