body {
  font-family: Georgia,Palatino,Times,"Times New Roman",serif;
  font-size: 9pt;
  background: #90b4fe;
  text-align: center;
}

#frame {
  width: 36em;
  margin: 0px auto;
  text-align: left;
  background: #fff;
  border: 1px #5881d8 solid;
  border-left: 36px #5881d8 solid;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  height: 100%;
}
#frame.paged {
  overflow: hidden;
}

#columns {
  margin: 0 0.5em;
}
#columns.paged {
  -webkit-column-width: 34em;
  -moz-column-width: 34em;
}

header, footer {
  -webkit-column-width: 34em;
  -moz-column-width: 34em;
  margin: 0 0.5em;
}
.page_head, .page_foot {
  width: 100%;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
}
.page_head_left, .page_head_right {
  font-size: 12pt;
  font-weight: bold;
  padding: 0.5ex 0;
  padding-bottom: 1ex;
}
.page_head_right { text-align: right; }
h1, h2 { text-align: center; }

.page_foot_mid { text-align: center; }
.page_foot_right { text-align: right; }

p {
  padding: 0.5ex 0;
  padding-left: 10em;
  margin: 0;
}

button {
  position: relative;
  text-align: inherit;
  width: 100%;
  background: #fff;
  border: 1px #fff solid;
}
button:hover {
  border-color: #ddd #bbb #bbb #ddd;
  border-radius: 3px;
  background: -moz-linear-gradient(0% 170% 90deg, #ccc, #fff);
  background: -webkit-gradient(linear, 0% 0%, 0% 170%, from(#fff), to(#ccc));
}
button:active {
  top: 1px;
}

/* make anchors behave like timestamps */
a {
  float: left;
  margin-left: -10em;
}

/* make nm anchors act like regular links */
a.nm {
  color: #00f;
  visibility: visible;
  float: none;
  margin-left: 0;
  text-decoration: underline;
}

a.nm:visited { color: purple; }

b {
  float: left;
  margin-left: -6.8em;
  width: 6.3em;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}

em { font-style: normal; font-weight: bold; }
a { color: #aaa; visibility: hidden; text-decoration: none; }
p:hover a { visibility: visible; }
a:target, a.nh { color: #000; visibility: visible; }
p.bdfl b { color: #c00; }

/* opera compatibility for <wbr> */
wbr:after { content: "\00200B" }

/* iPhone */
@media screen and (max-width: 480px)
{
  h1 { font-size: 12pt; }
  body { margin: 8px 0; }
  dl { display: none; }
  p { padding-right: 0; word-wrap: break-word; }
  #narrow { width: 480px; }
  #main { background-image: none; }
}

/* iPhone portrait */
@media screen and (max-width: 320px)
{
  #narrow { width: 320px; }
}
