body {
  font-family: Georgia,Palatino,Times,"Times New Roman",serif;
  font-size: 9pt;
  background: #EFEFE7 repeat-x top
      url(http://clojure.sourceforge.net/sandvox_EarthandSky/verlauf.png);
  text-align: center;
}

#narrow {
  width: 50em;
  margin: 0px auto;
  text-align: left;
}

#main {
  background: #fff;
}

p {
  padding-left: 10em;
  padding-right: 13em;
  margin: 1ex 0;
}

a {
  float: left;
  margin-left: -10em;
}

b {
  float: left;
  margin-left: -7.5em;
  width: 7em;
  font-weight: bold;
  text-align: right;
}

dl {
  float: right;
  background: #ddd;
  margin: 0 1em;
  margin-top: -1em;
  padding: 0;
  padding-bottom: 1em;
}

dt {
  font-weight: bold;
  background: #9a3;
  margin-bottom: 0.5em;
  padding: 0.2em 1em;
}

dd { margin: 0; }
dd a { padding: 0 1em; }
em { font-style: normal; font-weight: bold; }
a { color: #aaa; visibility: hidden; }
p:hover a { visibility: visible; }
a:target, a.nh { color: #000; visibility: visible; }

a.nm, dd a, .nav a {
  color: #00f;
  visibility: visible;
  float: none;
  margin-left: 0;
}

a.nm:visited, dd a:visited, .nav a { color: purple; }
.nav, .foot { text-align: center; font-style: italic; }
.nav a { padding: 0 1em; }
.nav a.i { color: #555; }

/* opera compatibility for <wbr> */
wbr:after { content: "\00200B" }
